<<<<<<< HEAD
<h1 class="text-lg font-semibold text-blue-600"> This is My Todo List here </h1>
=======
<h1 class="text-lg font-semibold text-blue-600">Todo List</h1>
>>>>>>> e96867fe87865f86da6e90df4369fa9557837967
